[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "hugo-theme-one"]
	path = hugo-theme-one
	url = https://github.com/resugary/hugo-theme-one.git
